<span id="{{id}}_close">XXX</span>
<table>
<tr>
  <td>Account</td>
  <td>
   {{#if account.url}}
     <a href="{{account.url}}" target="_blank">{{account.name}}</a>
   {{else}}
     {{account.name}}
   {{/if}}
   </td>
</tr>
<tr>
  <td>Description</td>
  <td>{{account.description}}</td>
</tr>
<tr>
  <td>Number</td>
  <td>{{account.number}}</td>
</tr>
<tr>
  <td>User Name</td>   
  <td>{{account.userName}}</td>
</tr>
<tr>
  <td>Password</td>
  <td>{{account.password}}</td>
</tr>
<tr>
  <td>Opened On</td>
  <td>{{account.openedOn}}</td>
</tr>
<tr>
  <td>Phone</td>
  <td>{{account.phone}}</td>
</tr>
<tr>
  <td>Address</td>
  <td>{{account.address}}</td>
</tr>
</table>
